import './OrderInfo.css'

export function OrderInfo () {
    return (
        <section className="order-desc">
        <h1>Position Absoulte Acı Pizza</h1>
        <div>
          <span>85.50₺</span>
          <span>4.9</span>
          <span>(200)</span>
        </div>
        <p className="order-desc-text">
          Frontent Dev olarak hala position:absolute kullanıyorsan bu çok acı
          pizza tam sana göre. Pizza, domates, peynir ve genellikle çeşitli
          diğer malzemelerle kaplanmış, daha sonra geleneksel olarak odun
          ateşinde bir fırında yüksek sıcaklıkta pişirilen, genellikle yuvarlak,
          düzleştirilmiş mayalı buğday bazlı hamurdan oluşan İtalyan kökenli
          lezzetli bir yemektir. . Küçük bir pizzaya bazen pizzetta denir.
        </p>
      </section>
    )
}